<!-- <section class="section-about" id="{{ site.data.home.sectionAboutTitle }}">
  <div class="u-center-text">
    <h2 class="heading-secondary u-center-margin u-margin-bottom-medium">
      {{ site.data.home.sectionAboutTitle }}
    </h2>

    <div class="profile">
      <div class="profile__container">
        <a >
          <figure class="profile__shape">
            <picture>
              <source srcset="{{ site.data.home.profileImage | replace: "jpg",
              "webp" }} type="image/webp" /> <source srcset="{{
              site.data.home.profileImage }} type="image/jpeg" />
              <img
                alt="{{ site.data.home.author }}"
                class="profile__img"
                loading="lazy"
                src="{{ site.data.home.profileImage }}"
                width="150"
                height="150"
              />
            </picture>

            <figcaption class="profile__caption">Linkedin</figcaption>
          </figure>
        </a>
        <div class="profile__text">
          <h3 class="heading-tertiary u-margin-bottom-small">
            {{ site.data.home.sectionAboutSubTitle }}
          </h3>
          {{ site.data.home.sectionAboutInfo | markdownify | strip }}
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="section">
  <h2 class="h2 h2--underline">About</h2>
  <div class="callout callout--parallel">
    <figure class="profile">
      <picture>
        <img alt="{{ site.data.home.author }}" loading="lazy" src="{{ site.data.home.profileImage }}" width="150"
          height="150" class="profile-image" />
      </picture>
      <a class="profile-link" target="_blank" rel="noopener" href="{{ site.data.home.linkedin }}"><span
          class="profile-caption">LINKEDIN</span></a>
    </figure>
    <h3>{{ site.data.home.sectionAboutSubTitle }}</h3>
    <p>{{ site.data.home.sectionAboutInfo | markdownify | strip }}</p>
  </div>
</section>