@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyFrames($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin pseudo() {
  content: '';
  display: block;
  position: absolute;
}
