//  COLOURS
$color-white: #fff;
$color-primary: #033f63;
$color-primary-dark: #054164;

// HOMEPAGE BACKGROUND IMAGE GRADIENT
$color-home-bg-light: #3f76a3;
$color-home-bg-dark: $color-primary;

// BUTTONS
$padding-btn: 1.5rem 4rem;
$text-color-btn: #1b242f;
$font-size-btn: 1.8rem;
$callout-box-shadow: rgb(0 0 0 / 10%);

// IMAGES
$image-home: '../img/hero-unsplash-2x.jpg';
$image-skills: '../img/skills-unsplash-1x.jpg';

// TRANSITIONS
$default-transition: all 0.3s;

// TYPOGRAPHY
$font-size-xlg: 6rem;
$font-size-lg: 4rem;
$font-size-md: 2.5rem;
$font-size: 1.6rem;

$font-color: #3b3d41;

$font-weight-th: 700;
$font-weight-md: 400;
$font-weight-lt: 100;