<div class="navigation">
  <nav class="nav">
    <ul class="nav-list">
      <li>
        <a href="#projects" class="btn" target="_blank">Projects</a>

      </li>
    </ul>
    <div class="nav__buttons">


      <a href="https://www.adrianyadav.com" aria-label="Adrian Yadav">
        <svg viewBox="0 0 16 16" class="icon icon--md icon--menu icon-logo">
          <use xlink:href="#icon-logo"></use>
        </svg>
      </a>
      <svg viewBox="0 0 16 16" class="icon icon--md icon--menu icon-menu">
        <use xlink:href="#icon-menu"></use>
      </svg>
      <svg viewBox="0 0 16 16" class="icon icon--md icon--close-menu icon-close">
        <use xlink:href="#icon-close"></use>
      </svg>
    </div>
  </nav>
</div>