.icon {
  width: 6rem;
  fill: $color-primary;

  &--sm {
    width: 2.2rem;
  }

  &--md {
    width: 3.2rem;
    height: 3.2rem;
  }

  &--logo {
    width: 10rem;
    transition: $default-transition;
    fill: $color-white;

    &:hover {
      fill: $color-primary;
    }
  }
}
