// Hamburger transition
.navigation {
  position: fixed;
  display: block;
  float: right;
  height: 6rem;
  width: 100%;
  z-index: 10;
  transition: right 0.5s cubic-bezier(0.7, 0.4, 0, 1);


}

.nav {
  display: grid;
  max-width: 1200px;
  place-items: center;
  margin: 0 auto;
  position: relative;

  @include respond(xs) {
    display: flex;

  }

  &-list {
    list-style-type: none;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr;

  }

  .nav__buttons {
    display: none;
  }
}