.profile {
  display: grid;
  position: relative;
  width: 15rem;
  margin: 0 auto;

  &:hover {
    .profile-image {
      filter: brightness(60%);
    }

    .profile-caption {
      opacity: 1;
    }
  }

  &-image {
    margin-bottom: 1rem;
    transition: $default-transition;
    cursor: pointer;
    clip-path: circle();
  }

  &-caption {
    @include absCenter;

    width: max-content;
    transition: $default-transition;
    opacity: 0;
    color: $color-white;
    text-transform: uppercase;
  }

  &-link {
    position: absolute;
    width: 15rem;
    height: 15rem;
    @include absCenter;
  }
}
