.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 1rem;
  column-gap: 3rem;
  height: 100%;
  min-height: 40rem;



  @include respond(xs) {
    display: flex;
    flex-flow: column;
    min-width: 100%;
  }
}