.footer {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  height: 30rem;
  padding: 1rem;
  background-image: linear-gradient(
      to right bottom,
      rgb(7 104 159 / 90%),
      rgba(#054164, 0.9)
    ),
    url(../img/contact-unsplash.jpg);
  background-size: cover;
  place-items: center;

  &-nav-list {
    list-style-type: none;

    a {
      &:hover {
        stroke: inherit;
        fill: inherit;
      }
    }

    li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
