@mixin responsive-headings($max-font-size, $min-font-size, $font-colour: '') {
  margin-bottom: 1rem;
  font-size: $max-font-size;
  font-weight: $font-weight-lt;
  @include respond(xs) {
    font-size: $min-font-size;
  }

  @if $font-colour == '' {
    color: $font-color;
  } @else {
    color: $font-colour;
  }
}

body,
p {
  color: $font-color;
  font-size: $font-size;
}

.h1,
h1 {
  @include responsive-headings($font-size-xlg, $font-size-lg);
}

.h2,
h2 {
  &--underline {
    text-transform: uppercase;

    &::after {
      @include pseudo;

      margin-bottom: 1rem;
      transform: scaleX(1.2);
      transform: scaleX(1.2);
      border-bottom: 3px solid $font-color;
    }
  }
  @include responsive-headings($font-size-lg, $font-size-md);
}

.h3,
h3 {
  @include responsive-headings($font-size-md, $font-size-md);
}
